*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img{
    width: 100% ;
    height: 100%;
}

nav .nav-link{
    color: black;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.about div h3{
    font-size: 2.9em;
    font-weight: 700;
    color: #333;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.about div span{
    color: rgba(192, 189, 24, 0.678) ;
}
.about div p{
    font-size: 1.1em;
    font-weight: 500;
    color: #333;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  swiper-slide img {
    display: block;
    width: 100%;
  }

  .repic img{
    width: 100%;
    height: 179px;
  }
  .blog .container{
    position: relative;
    overflow: hidden;
  }
  .bottomm{
   
    height: 600px;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}
  .bottomm .slide .item{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 78px;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slide .item:nth-child(3){
    left: 50%;
}
.slide .item:nth-child(4){
    left: calc(50% + 220px);
}
.slide .item:nth-child(5){
    left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}



.item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}


.slide .item:nth-child(2) .content{
    display: block;
}


.content .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover{
    background: #ababab;
    color: #fff;
}
.footer{
    color: white;
}
.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 0 3rem 0;
}
.footer-links li{
    list-style: none;
}
.footer-links a{
    color: #3d3d3d;
    text-decoration: none;
    margin: 0 2rem;
    font-size: 1.3rem;
    font-weight: 300;
    transition: 0.3s ease;
}
.footer-links a:hover{
    color: #000;
    transition: 0.3s ease;
    cursor: pointer;
}

.perp .card:hover{
    background-color: orange;
    color: white;
}
.repic .card:hover{
    background-color: orange;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}